version: "3"
services: 
  db-ddl:
    build: .
    image: db/mysql
    container_name: some-mysql
    ports:
      - "3312:3306"
    environment: 
      MYSQL_ROOT_PASSWORD: my-secret-pw
    tty: true